<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Postal Cost</title>
</head>
<body>
  <p>Type: <%= typeinput %></p> 
  <p>Weight: <%= weight %>oz</p>
  <p>Postage Total: $<%= type %></p>

</body>
</html>